{% extends "bootstrap/base.html" %}
{% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{%  endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='general.css') }}">
{% endblock %}

{% macro display_list_player(list_player, text, url_option=[], reversed = true) %}
    {% set filtered_list = list_player| dictsort(by='value') %}
    {% if reversed %}
        {% set  filtered_list = filtered_list| reverse %}
    {% endif %}
    {% for name,counter in filtered_list %}
        <a class="list-group-item"
           href="{{ name | get_url_for(*url_option) }}"> {{ text | format(name=name,counter=counter) }} </a>
    {% endfor %}
{% endmacro %}

{% block title %}{{teeworlds_srv_name or 'Teeworlds results'}}{% endblock %}

{% block navbar %}
    <div class="navbar navbar-fixed-top">
        <!-- ... -->
    </div>
{% endblock %}

{% block body %}
    <h1 class="text-center">Results on {{teeworlds_srv_name or 'A Nameless Server'}}</h1>
    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

{% endblock %}