{% extends "layout.html" %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            {% if round %}
                <h2> {{ player }}'s results for the last round </h2>
            {% else %}
                <h2> Records of {{ player }}</h2>
            {% endif %}
        </div>
        <div class="row panel-body">
            {% if killers or kills %}
                <div class="col-md-6">
                    <div class=list-group>
                        <div class="list-group-item list-group-item-info">
                            <h3 class="list-group-item-heading">Kill{{ kills | plural }}:</h3>
                        </div>
                        {% if kills %}
                            {{ display_list_player(kills, "{name} ({counter} times)", [round]) }}
                        {% else %}
                            <div class="list-group-item">
                                {{ player }} was very lame during this round...
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">

                    <div class=list-group>
                        <div class="list-group-item list-group-item-info">
                            <h3 class="list-group-item-heading"> Killer{{ killers | plural }}: </h3>
                        </div>
                        {% if killers %}
                            {{ display_list_player(killers, "{name} ({counter} times)", [round]) }}
                        {% else %}
                            <div class="list-group-item">
                                {{ player }} was invisible during this round!
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                It seems that {{ player }} was not very active during this round...
            {% endif %}
        </div>
    </div>
{% endblock %}