{% extends "layout.html" %}
{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading text-center block-center">
            <h2 class="row block-center">
                {% set previous= id - 1 %}
                {% set next= id + 1 %}
                {% if previous >= first_idx %}
                    <a class="element btn btn-lg col-xs-1" href="{{ previous | get_url_for }}">
                        <span class="glyphicon glyphicon-chevron-left bg-primary" aria-hidden="false"></span>
                    </a>
                {% else %}
                    <div class="col-xs-1"></div>
                {% endif %}
                <p class="element col-xs-10">Round {{ id }}</p>
                {% if next <= last_idx %}
                    <a class="element btn btn-lg col-sm-1" href="{{ next | get_url_for }}">
                        <span class="glyphicon glyphicon-chevron-right bg-primary" aria-hidden="false"></span>
                    </a>
                {% endif %}

            </h2>
        </div>
        <div class="panel-body">
            {% if round %}

                <div class="row">
                    <div class="col-md-3 col-md-offset-1 panel panel-default">
                        <div class="panel-body">The round began at {{ round.date | datetime }}</div>
                    </div>
                    <div class="col-md-2 col-md-offset-1 panel panel-default">
                        <div class="panel-body">{% if round.is_ended() %}ENDED{% else %}ONGOING{% endif %}
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1  panel panel-default">
                        {% if round.is_ended() %}
                            <div class="panel-body">The winner was {{ round.get_winner() }}</div>
                        {% else %}
                            <div class="panel-body">The leader is {{ round.get_winner() }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3> Results of this round:</h3>
                    </div>
                    {% set kills, deaths, points = round.get_result() %}
                    <div class="panel-body row">
                        <div class="col-md-4">
                            <div class="list-group">
                                <div class="list-group-item list-group-item-success">
                                    <h4 class="list-group-item-heading">Rankings:</h4>
                                </div>
                                {{ display_list_player(points, "{name} ({counter} points)", [id]) }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="list-group">
                                <div class="list-group-item list-group-item-success">
                                    <h4 class="list-group-item-heading">Kills:</h4>
                                </div>
                                {{ display_list_player(kills, "{name} ({counter} times)", [id]) }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="list-group">
                                <div class="list-group-item list-group-item-success">
                                    <h4 class="list-group-item-heading">Deaths:</h4>
                                </div>
                                {{ display_list_player(deaths, "{name} ({counter} times)", [id], false) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-info">

                    <div class="panel-heading">
                        <h3> Overview of the kills </h3>
                    </div>
                    <ul class="list-group">
                        {% for event in (round|filter_type) %}
                            <li class="list-group-item"> {{ event.owner }} killed {{ event.victim }}
                                with {{ event.weapon }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                It seems that this round was not very active...
            {% endif %}
        </div>
    </div>
{% endblock %}