{% extends "layout.html" %}
{% block content %}
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="list-group">
                {% for round in rounds | reverse %}
                    {% set winner = round.get_winner() %}
                    {% set idx = (rounds | length) - loop.index0 %}
                    {% if winner %}
                        <a class="list-group-item row" href="{{ idx | get_url_for }}">
                            <div class="col-md-3">Round {{ idx }}</div>
                            <div class="col-md-3"> {{ round.date | datetime }}</div>
                            {% if round.is_ended() %}
                                <div class="col-md-3"> Winner : {{ winner }} </div>
                            {% else %}
                                <div class="col-md-3"> Ongoing</div>
                            {% endif %}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}